<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CSE</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">krishna@inty</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- JDBC connection pool settings (optional) -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- Specify how the session is managed -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Show SQL statements in the console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically update the schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Class mappings -->
        <mapping class="com.cse.Mavendynamic.Student1" />
    </session-factory>
</hibernate-configuration>