<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayInfo</display-name>
    <servlet-name>DisplayInfo</servlet-name>
    <servlet-class>DisplayInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInfo</servlet-name>
    <url-pattern>/DisplayInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayHeader</display-name>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/DisplayHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTime</display-name>
    <servlet-name>DisplayTime</servlet-name>
    <servlet-class>DisplayTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTime</servlet-name>
    <url-pattern>/DisplayTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayInitPara</display-name>
    <servlet-name>DisplayInitPara</servlet-name>
    <servlet-class>DisplayInitPara</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>oracle</param-value>
    </init-param>
    <init-param>
      <param-name>password1</param-name>
      <param-value>oracle2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInitPara</servlet-name>
    <url-pattern>/DisplayInitPara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionPreExeOrNot</display-name>
    <servlet-name>SessionPreExeOrNot</servlet-name>
    <servlet-class>SessionPreExeOrNot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionPreExeOrNot</servlet-name>
    <url-pattern>/SessionPreExeOrNot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCount</display-name>
    <servlet-name>SessionCount</servlet-name>
    <servlet-class>SessionCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCount</servlet-name>
    <url-pattern>/SessionCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>