<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FSLab2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test3</display-name>
    <servlet-name>Test3</servlet-name>
    <servlet-class>Test3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatingDB</display-name>
    <servlet-name>CreatingDB</servlet-name>
    <servlet-class>CreatingDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatingDB</servlet-name>
    <url-pattern>/CreatingDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatingTable</display-name>
    <servlet-name>CreatingTable</servlet-name>
    <servlet-class>CreatingTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatingTable</servlet-name>
    <url-pattern>/CreatingTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertion</display-name>
    <servlet-name>Insertion</servlet-name>
    <servlet-class>Insertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertion</servlet-name>
    <url-pattern>/Insertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displaying</display-name>
    <servlet-name>Displaying</servlet-name>
    <servlet-class>Displaying</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displaying</servlet-name>
    <url-pattern>/Displaying</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updated</display-name>
    <servlet-name>Updated</servlet-name>
    <servlet-class>Updated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updated</servlet-name>
    <url-pattern>/Updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStudentServlet</display-name>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.cse.Mavenwebproject.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/InsertStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>